{:test {:service-name "stethoscope"
        :twitter-auth {:consumer-key        "example"
                       :consumer-secret     "example"
                       :access-token        "example"
                       :access-token-secret "example"}}}
